/* fonts */
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i");
/* base type system styling */
body {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  /* 18px */
  font-weight: 300;
  line-height: 1.625; }

.container {
  margin: 2rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 0 16px; }

h1 {
  font-size: 3rem;
  /* 48px */ }

h2 {
  font-size: 2.25rem;
  /* 36px */ }

h3 {
  font-size: 1.4rem;
  /* 22.4px */
  text-transform: uppercase; }

h4 {
  font-size: 1.375rem;
  /* 22px */ }

h5 {
  font-size: 1.2rem;
  /* 18px */ }

h6 {
  font-size: 1rem;
  /* 16px */ }

p {
  margin: 0 0 28px;
  padding: 0; }

ol, ul {
  margin: 0 0 24px 0;
  padding: 0; }
  ol li, ul li {
    margin-bottom: 7px; }

blockquote {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.525; }
